  {{!-- second row Existing Customer Table --}}
  <div class="row">

    <div class="col-2"></div>

    <div class="col-8" id="customerList">

      <table class="table table-striped">
						<thead>

							<tr>

								<th>Name</th>
								<th># of Burgers</th>
								<th></th>
								<th></th>

							</tr>

						</thead>

						<tbody>

              {{#each Customers}}

                {{!-- {{> customers/customer-block}} --}}
                <tr value="{{this.id}}">

                <td> {{this.cust_name}} </td>

                {{#if this.Burgers}} 

                {{!-- display the number of burgers for each customer as the length of that customers burger array --}}
                <td>{{this.Burgers.length}}</td>

                {{else}}

                {{!-- no burgers are associated so the count is '0' --}}
                <td>0</td>

                {{/if}}

                <td><a href="/burger/{{this.id}}">Order</a></td>

                <td><a style='cursor:pointer;color:red' class='delete-customer'>Delete Customer</a></td>
              
                </tr>
                  
              {{/each}}

						</tbody>

					</table>

    </div>
    {{!-- end of customerList col div --}}

    <div class="col-2"></div>

  </div>
  {{!-- end of row div --}}

  {{!-- third row displays the form to add a new Customer --}}
  <div class="row">

    <div class="col"></div>
    
    <div calss="col">

      <form class="create-customer-form">

        <div class="form-group">

          <input type="text" id="customer" name="customer_name">

        </div>

        <p id="instructions"> Add a new Customer Name and Click the "Submit" button </p>
        
        <br>

        <div id="customer-button">
          
          <button type="submit" class="btn btn-lg btn-success button-space">Submit</button>

        </div>

      </form>

    </div>
    {{!-- end of form col div --}}
    
    <div class="col"></div>

  </div>
  {{!-- end of form row div --}}

  {{!-- fourth row Navigation Buttons --}}
  <div class="row">

    <div class="col-2"></div>

    <div class="col-4" id="mainButton">

      <a class="btn btn-light" href="/">Go to Main Menu</a>

    </div>
    {{!-- end of mainButton col div --}}
    
    <div class="col-4" id="orderBurgers">

      <a class="btn btn-light" href="/burger/">Order Burgers</a>

    </div>
    {{!-- end of orderBurgers col div --}}

    <div class="col-2"></div>

  </div>
  {{!-- end of row div --}}

</div>
{{!-- end of the container div --}}

<!-- Added link to the local js file -->
<script src="/assets/js/customers.js"></script>
