
<tr value="{{this.id}}">
    <td> {{this.cust_name}} </td>

    {{#if this.Burgers}} 
        <td>{{this.Burgers.length}}</td>
    {{else}}
      <td>0</td>
    {{/if}}

    <td><a href="/burger/{{this.id}}">Order</a></td>

    <td><a style='cursor:pointer;color:red' class='delete-customer'>Delete Customer</a></td>
    
</tr>

